.header {
    display: flex;
    flex-direction: row;
    background-color: #00123F;
    width: 100vw;
    height: 50px;
    color : white;
    padding: 20px;
}

.logo {
    width: fit-content;
    height: 100%;
}

.user-image {
    margin-top: 5px;
    align-items: flex-end;
    
}