.form-input {
    width: 350px;
    padding: 10px;
    height: 35px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    align-self: flex-start;
}

.signUp-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 700px;
    justify-content: flex-start;
    align-items: center; /* Center items horizontally */
    align-self: center;
}

.signUp-form label {
    text-align: left; /* Align text to the right */
    color: #41D360;
    font-size: 23px;
    max-width: 200px;
    font-weight: bold;
    align-self: flex-start; /* Align to the right within the flex container */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.validate-button {
    width: 200px;
    height: 40px;
    background-color: #41D360;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.validate-button:hover {
    background-color: #3CBF54;
} 