.body {
    background-color: #232323;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.playlist-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.playlist-display {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.playlist-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}