.userPage {
    width: 100%;
    margin-top: 90px;
    background-color: #232323;
    color: white;
    overflow-x: hidden;
    
}

.banner-container {
    position: relative;
    height: 300px;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-container {
    position: absolute;
    top: 50%;
    left: 2%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.profileButton-container {
    width: 95%;
    height: 50px;
    margin: 0 auto;
}

.profileButton {
    width: 50%;
    height: inherit;
    border: none;
}

.profileButton:hover {
    background-color: #41D360;
}

